.app {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 91%, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1rem);
  width: 60%;
  margin: auto;
  margin-top: 5em;
  margin-bottom: 4em;
  border-radius: 10px;
  padding: 1.5rem;
  z-index: 100;
}

body {
  background: linear-gradient(
    180deg,
    rgba(83, 43, 91, 1) 0%,
    rgba(40, 29, 72, 1) 100%
  );
  min-height: 100vh;
}

header {
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-container {
  padding: 1.5rem;
  margin-top: 20px;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .app {
    width: 100%;
    padding: 1rem;
  }
}
